<div class="container mt-2">
  <h4 class="text-center">Challenge for <strong><%= @event.group.name %></strong></h4>

  <div class="card-product my-2 disabled" id="first-level" data-finish-time="<%= @event.events_levels.first.challenge_end_time %>">
    <div class="card-time firsttimer">
    <!--  <h6><%= @event.events_levels.first.time %> min </h6> -->
    </div>
    <div class="card-product-infos">
     <%= @event.events_levels.first.description %>
   </div>
 </div>
   <div class="card-product my-2 disabled" id="second-level" data-finish-time="<%= @event.events_levels.second.challenge_end_time %>">
    <div class="card-time secondtimer">
      <!-- <h6><%= @event.events_levels.second.time %> min </h6> -->
    </div>
    <div class="card-product-infos">
     <%= @event.events_levels.second.description %>
   </div>
 </div>
   <div class="card-product my-2 disabled" id="last-level" data-finish-time="<%= @event.events_levels.last.challenge_end_time %>">
    <div class="card-time lasttimer">
      <!-- <h6><%= @event.events_levels.last.time %> min </h6> -->
    </div>
    <div class="card-product-infos">
     <%= @event.events_levels.last.description %>
   </div>
 </div>

 <br>
 <br>

 <%= link_to "Cancel Challenge", event_path(@event), method: :delete, class: 'text-secondary' %>

</div>

