<div class="container">

<p> <%= link_to "VIDEOS", videos_path, class: "btn btn-primary" %> </p>

<%= image_tag ( "https://media.giphy.com/media/l0HlHHTwgXMl4hTeE/giphy.gif") %>

<br>
<br>

<% @event.events_levels.each do |event_level| %>
  <p> After <%= event_level.time %> minutes <%= event_level.description %> </p>
<% end %>

<br>
<br>

<%= link_to "remove", event_path(@event), method: :delete %>

</div>
