<div class="container">
  <h1 class="text-center"> <%= @challenge.name %> </h1>
  <div class='mb-3'>
    <%= cl_image_tag @challenge.photo, crop: :fill, class: 'card-category challenge-card' %>
  </div>
  <div>
    <% @challenge.levels.each do |level|%>
    <div class="card-product my-2">
      <div class="card-time">
        <h6>  <%= level.time %> <br> min </h6>
      </div>
      <div class="card-product-infos">
       <h2> <%= level.description %> </h2>
     </div>
   </div>
   <% end %>
  </div>
   <div class="groups">
     <%= render 'events/form' %>
   </div>
<p class="text-center mb-1 mt-1">Or</p>
<div class="btn btn-outline-primary btn-block" id="toggle-form">Create a group</div>

   <%= render 'groups/form' %>
<br>
<%= link_to "All Challenges", challenges_path%>
</div>


