<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>App2Wait</title>
    <%= favicon_link_tag %>
    <link rel="stylesheet" href="path/to/nice-select.css">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>
  <body>
    <div class="show">
      <% if !current_page?(root_path) %>
      <% end %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
      <script src="path/to/jquery.js"></script>
      <script src="path/to/jquery.nice-select.js"></script>
      <%= yield(:after_js) %>
    </div>
    <div class="msg">
      <h1>App2Wait</h1>
      <br>
      <br>
      <br>
      <p class="text-center"> This site has been designed for mobile devices. </p>
      <p class="text-center"> To check it out please switch to a mobile view. </p>
      <p class="text-center"> Sincerely, </p>
      <p class="text-center"> the App2Wait team <%= image_tag asset_url('logo.png') %> </p>
    </div>
  </body>
</html>
